@font-face {
  font-family: Helvetica;
  src: url("../public/fonts/helvetica-regular.ttf");
}

@font-face {
  font-family: Futura;
  src: url("../public/fonts/futura-regular.ttf");
}

.font-two {
  font-family: "Futura";
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
